<div id="button-mood-page">

  <div class="header container">
    <a href="'" class="logo-link">
      <h1 class="title text">Mood Track</h1>
    </a>
  </div>

  <div class="content-container">

    <div class="fade-in text-container">
      <p class="size-30 text">Seems like you're <span class="accent">{{mood}}.</span> Here's a track to <span class="accent">{{mood_desc}}</span>.</p>
    </div>

    <div class="fade-in vert-divider">
      <p class="size-20 text">Your Mood Tracks</p>
      <hr class="vert-hr" />
    </div>

  </div>

</div>
